.chat-page-container {
  flex-direction: column;
}

.chat-page-container > div {
  flex-grow: 1;
  overflow-y: scroll;
}

.chat-page-container .public-threads {
  overflow-y: scroll;
  position: relative;
}

.chat-page-container .public-threads .public-threads-form {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  z-index: 5;
}
