.video-stream {
  position: absolute;
  top: 65px;
  right: 0;
  width: 30vw;
  height: 20vh;
  object-fit: cover;
  border-radius: 0.8em;
  overflow: hidden;
}

.sos-button {
  --dims: 8em;
  height: var(--dims) !important;
  width: var(--dims) !important;
  border-radius: 50% !important;
}

.sos-button::part(native) {
  border-radius: inherit !important;
}
